doctype html
//[if lt IE 7 ]> <html lang="en" class="ie ie6"> <![endif]
//[if IE 7 ]> <html lang="en" class="ie ie7"> <![endif]
//[if IE 8 ]> <html lang="en" class="ie ie8"> <![endif]
//[if IE 9 ]> <html lang="en" class="ie ie9"> <![endif]

html( lang="en")
	head
		meta(charset='utf-8')
		title Fiorentinastore.com
		meta(name='description', content='')
		meta(http-equiv='X-UA-Compatible', content='chrome=1')
		link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Pathway+Gothic+One')
		link(rel='stylesheet', type='text/css', href='css/font.css')
		link(rel='stylesheet', type='text/css', href='css/style.css')
	body#home
		section.main
			.container-fluid
				.row
					.col-xs-12.col-md-2.col-md-offset-5
					h1
								img(src='images/logo1.png')
					.col-xs-12
						h2.text-center
							| COMING SOON...
						//p.lead.text-center
							| The new Fiorentinastore.com is coming!
			//#Content.wrapper.topSection
				#Header
					.wrapper
						.logo
							h1
								img(src='images/logo1.png')
			.container-fluid.cloks
				.container
					.row.countdown.styled
		section.subscribe
			.container
				.row
					.col-xs-12.col-md-offset-4.col-md-4.col-lg-4
						h3 Iscriviti per essere aggiornato
						form.text-center(name="subscribe" method="post" action="http://clientsection.contactlab.it/service/subscribe.php")
							.form-group.text-center
								label.text-center(for="email") Inserisci qui la tua E-mail:
								input.form-control.input-lg(type="text" name="e" value="")
								input(type="hidden" name="g" value="2001485")
								input(type="hidden" name="wfc" value="1420014859385")
								input(type="hidden" name="lang" value="it")
							input.btn.btn-primary.btn-lg(type="submit" name="do_subscribe" value="Iscrivimi")


					//p.text-center
						a.btn.btn-primary.btn-lg(href="#")
							| COMPILA IL FORM
					//form(action='', method='post', onsubmit='')
						p
							input(name='', value='Enter your e-mail', type='text', id='')
							input(type='button', value='Submit')
				//#socialIcons
					ul
						li
							a.twitterIcon(href='', title='Twitter')
						li
							a.facebookIcon(href='', title='facebook')
						li
							a.linkedInIcon(href='', title='linkedIn')
						li
							a.pintrestIcon(href='', title='Pintrest')
		//- section.features.spacing
			.container
				h2.text-center Features
				.row
					.col-md-6
						.featuresPro
							.col-md-3.col-sm-3.col-xs-3.text-center
								img(src='images/icon-1.png', data-at2x='img/icon-1@2x.png', alt='Features')
							.col-md-9.col-sm-9.col-xs-9
								// features 1
								h4 Lorem Lpsum
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, beatae, esse, aspernatur, alias odio numquam incidunt perspiciatis aliquid voluptate sapiente.
								// features 1 end
						.featuresPro
							.col-md-3.col-sm-3.col-xs-3.text-center
								img(src='images/icon-2.png', data-at2x='img/icon-2@2x.png', alt='Features')
							.col-md-9.col-sm-9.col-xs-9
								// features 2
								h4 Lorem Lpsum
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, beatae, esse, aspernatur, alias odio numquam incidunt perspiciatis aliquid voluptate sapiente.
								// features 2 end
					.col-md-6
						.featuresPro
							.col-md-3.col-sm-3.col-xs-3.text-center
								img(src='images/icon-3.png', data-at2x='img/icon-3@2x.png', alt='Features')
							.col-md-9.col-sm-9.col-xs-9
								// features 3
								h4 Lorem Lpsum
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, beatae, esse, aspernatur, alias odio numquam incidunt perspiciatis aliquid voluptate sapiente.
								// features 3 end
						.featuresPro
							.col-md-3.col-sm-3.col-xs-3.text-center
								img(src='images/icon-4.png', data-at2x='img/icon-4@2x.png', alt='Features')
							.col-md-9.col-sm-9.col-xs-9
								// features 4
								h4 Lorem Lpsum
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, beatae, esse, aspernatur, alias odio numquam incidunt perspiciatis aliquid voluptate sapiente.
								// features 4 end
		//-span.tempBy
			| Template by:
			a(href='http://webthemez.com', alt='webthemez') WebThemez.com
		// Scripts
		script(type='text/javascript', src='js/jquery-1.9.1.min.js')
		script(type='text/javascript', src='js/jquery.countdown.js')
		script(type='text/javascript', src='js/global.js')
